# NetBeans project specific
/build/
/dist/
/nbproject/private/
/nbproject/Makefile-genesis.properties
/nbproject/Package-genesis.properties

# Compiled Java class files
*.class
/bin/

# Cryptographic outputs / payloads
*.enc
encrypted_image.enc

# Temporary or system files
Thumbs.db
.DS_Store
*.log

__pycache__/
*.py[cod]
*$py.class
*.tmp

# Virtual environments
venv/
env/
.env/
.venv/

# Local scratch files
scratch.py
